{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}{{ object.event.name }}{% endblock title %}


{% block content %}
<div id="printable" class="clearfix text-center">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <img src="{% static 'images/certified_decorator.png' %}">
                </td>
                <td style="padding-right: 80px;">
                    <img src="{% static 'images/cleandev.png' %}">
                    <br>
                    <h1>Certificado</h1>
                    <br><br>
                    <p class="certified-text col-md-12">Concedido a {{ object.person.name }} (CPF: {{ object.person.cpf }}) como participante do(a) {{ object.event.name }} realizado em {{ object.event.date|date:"d/m/Y" }} com carga horária de {{ object.event.workload }} hora(s) no local {{ object.event.place }}.</p>
                    <br>
                    <div class="clearfix">
                        <img src="{% static 'images/edson_signature.png' %}">
                        <br>
                        <strong>Edson Lopes Barbosa</strong>
                        <p>Diretor do Projeto CleanDev</p>
                    </div>
                    <div class="clearfix">
                        <strong>Link do evento e o e-mail do participante</strong>
                        <p>{{ object.event.post }}</p>
                        <p>{{ object.person.email }}</p>
                    </div>

                    <div id="support" class="clearfix text-center">
                        <br>
                        <h4>Apoio</h4>
                        <img src="{{ object.place.image }}" height="90">
                        {% for support in object.event.supports %}
                        <img src="{{ support.image }}" height="90">
                        {% endfor %}
                        <img src="{% static 'images/polo_ti.jpg' %}" height="90">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style type="text/css">
    body, .container {
        margin: 0;
    }
    main ul.nav, div#nav-back, footer {
        display: none;
    }
    table, table tr td {
        border: none !important;
    }
    .container {
        width: 100%;
    }
    .certified-text {
        font-size: 17px;
    }
    #support img {
        margin-left: 5px;
    }
    #support img:first-child {
        margin: 0px;
    }
    @page {
        size: landscape !important;
        margin: 0;
    }
</style>
<script type="text/javascript">
    window.print();
</script>
{% endblock content %}
