{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}


{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.maskedinput.js' %}"></script>
<script type="text/javascript" async src="{% static 'js/person.js' %}"></script>
{% endblock js %}


{% block content %}
<div class="clearfix">
    <form id="id_person_form" action="." method="POST">
        {% csrf_token %}
        <input id="id_kind" name="kind" type="hidden" value="{{ form.kind.value|default_if_none:'S' }}">

        {% bootstrap_form form %}

        <div class="form-contrgroupol">
            <button class="btn btn-primary btn-block">Salvar</button>
        </div>
    </form>
</div>
{% endblock content %}
